In [22]:
import pandas as pd

df=pd.read_csv("player.csv")
df.columns
df.head()

   Unnamed: 0 Rk         Player Pos Age   Tm   G  GS    MP   FG
0           0  1     Quincy Acy  PF  24  NYK  68  22  1287  152
1           1  2   Jordan Adams  SG  20  MEM  30   0   248   35
2           2  3   Steven Adams   C  21  OKC  70  67  1771  217
3           3  4    Jeff Adrien  PF  28  MIN  17   0   215   19
4           4  5  Arron Afflalo  SG  29  TOT  78  72  2502  375

In [23]:
df.drop(['Unnamed: 0'],axis=True,inplace=True)

In [34]:
for i in df.itertuples():
    print(type(i))
    break

<class 'pandas.core.frame.Pandas'>

In [35]:
for i in df.iterrows():
    print(i)
    if i==5:
        break

(0, Rk                 1
Player    Quincy Acy
Pos               PF
Age               24
Tm               NYK
G                 68
GS                22
MP              1287
FG               152
Name: 0, dtype: object)
(1, Rk                   2
Player    Jordan Adams
Pos                 SG
Age                 20
Tm                 MEM
G                   30
GS                   0
MP                 248
FG                  35
Name: 1, dtype: object)
(2, Rk                   3
Player    Steven Adams
Pos                  C
Age                 21
Tm                 OKC
G                   70
GS                  67
MP                1771
FG                 217
Name: 2, dtype: object)
(3, Rk                  4
Player    Jeff Adrien
Pos                PF
Age                28
Tm                MIN
G                  17
GS                  0
MP                215
FG                 19
Name: 3, dtype: object)
(4, Rk                    5
Player    Arron Afflalo
Pos                  SG
Age                  29
Tm                  TOT
G                    78
GS                   72
MP                 2502
FG                  375
Name: 4, dtype: object)
(5, Rk                    5
Player    Arron Afflalo
Pos                  SG
Age                  29
Tm                  DEN
G                    53
GS                   53
MP                 1750
FG                  281
Name: 5, dtype: object)
(6, Rk                    5
Player    Arron Afflalo
Pos                  SG
Age                  29
Tm                  POR
G                    25
GS                   19
MP                  752
FG                   94
Name: 6, dtype: object)
(7, Rk                    6
Player    Alexis Ajinça
Pos                   C
Age                  26
Tm                  NOP
G                    68
GS                    8
MP                  957
FG                  181
Name: 7, dtype: object)
(8, Rk                     7
Player    Furkan Aldemir
Pos                   PF
Age                   23
Tm                   PHI
G                     41
GS                     9
MP                   540
FG                    40
Name: 8, dtype: object)
(9, Rk                   8
Player    Cole Aldrich
Pos                  C
Age                 26
Tm                 NYK
G                   61
GS                  16
MP                 976
FG                 144
Name: 9, dtype: object)
(10, Rk                        9
Player    LaMarcus Aldridge
Pos                      PF
Age                      29
Tm                      POR
G                        71
GS                       71
MP                     2512
FG                      659
Name: 10, dtype: object)
(11, Rk                 10
Player    Lavoy Allen
Pos                 C
Age                25
Tm                IND
G                  63
GS                  0
MP               1070
FG                141
Name: 11, dtype: object)
(12, Rk                11
Player    Tony Allen
Pos               SG
Age               33
Tm               MEM
G                 63
GS                41
MP              1648
FG               225
Name: 12, dtype: object)
(13, Rk                     12
Player    Al-Farouq Aminu
Pos                    SF
Age                    24
Tm                    DAL
G                      74
GS                      3
MP                   1366
FG                    147
Name: 13, dtype: object)
(14, Rk                  13
Player    Lou Amundson
Pos                 PF
Age                 32
Tm                 TOT
G                   53
GS                  35
MP                 937
FG                 109
Name: 14, dtype: object)
(15, Rk                  13
Player    Lou Amundson
Pos                 PF
Age                 32
Tm                 CLE
G                   12
GS                   0
MP                  79
FG                   4
Name: 15, dtype: object)
(16, Rk                  13
Player    Lou Amundson
Pos                 PF
Age                 32
Tm                 NYK
G                   41
GS                  35
MP                 858
FG                 105
Name: 16, dtype: object)
(17, Rk                    14
Player    Chris Andersen
Pos                    C
Age                   36
Tm                   MIA
G                     60
GS                    20
MP                  1132
FG                   120
Name: 17, dtype: object)
(18, Rk                   15
Player    Alan Anderson
Pos                  SG
Age                  32
Tm                  BRK
G                    74
GS                   19
MP                 1744
FG                  195
Name: 18, dtype: object)
(19, Rk                   16
Player    Kyle Anderson
Pos                  SF
Age                  21
Tm                  SAS
G                    33
GS                    8
MP                  358
FG                   31
Name: 19, dtype: object)
(20, Rk                   17
Player    Ryan Anderson
Pos                  PF
Age                  26
Tm                  NOP
G                    61
GS                    5
MP                 1675
FG                  291
Name: 20, dtype: object)
(21, Rk                           18
Player    Giannis Antetokounmpo
Pos                          SG
Age                          20
Tm                          MIL
G                            81
GS                           71
MP                         2541
FG                          383
Name: 21, dtype: object)
(22, Rk                     19
Player    Carmelo Anthony
Pos                    SF
Age                    30
Tm                    NYK
G                      40
GS                     40
MP                   1428
FG                    358
Name: 22, dtype: object)
(23, Rk                  20
Player    Joel Anthony
Pos                  C
Age                 32
Tm                 DET
G                   49
GS                   0
MP                 406
FG                  36
Name: 23, dtype: object)
(24, Rk            Rk
Player    Player
Pos          Pos
Age          Age
Tm            Tm
G              G
GS            GS
MP            MP
FG            FG
Name: 24, dtype: object)
(25, Rk                21
Player    Pero Antić
Pos                C
Age               32
Tm               ATL
G                 63
GS                 3
MP              1037
FG               108
Name: 25, dtype: object)
(26, Rk                  22
Player    Trevor Ariza
Pos                 SF
Age                 29
Tm                 HOU
G                   82
GS                  82
MP                2930
FG                 366
Name: 26, dtype: object)
(27, Rk                    23
Player    Darrell Arthur
Pos                   PF
Age                   26
Tm                   DEN
G                     58
GS                     4
MP                   988
FG                   155
Name: 27, dtype: object)
(28, Rk               24
Player    Ömer Aşık
Pos               C
Age              28
Tm              NOP
G                76
GS               76
MP             1982
FG              213
Name: 28, dtype: object)

In [ ]:
d={1:2,:4}

In [40]:
pd.read_clipboard()

Empty DataFrame
Columns: [d={1:2,:4}]
Index: []