In [58]:
import pandas as pd
import logging

logging.basicConfig(filename="week8.log",level=logging.DEBUG, format='%(asctime)s %(name)s %(levelname)s %(message)s')

In [16]:
# Q1. List any five functions of the pandas library with execution.
ls=[['Name','Age','Gender'],['Alice',25,'Gender'],['Bob',30,'Male'],['Claire',27,'Female']]
#DataFrame
df=pd.DataFrame(ls[1:],columns=ls[0])

#head(): return first 3 raw
logging.info(df.head())
print(df.head())
print()
#tail():return last 3 raw
logging.info(df.tail())
print(df.tail())

#columns : return names of columnns
logging.info(df.columns)
print(type(df.columns))

#dtypes : 
logging.info(df.dtypes)
print(type(df.dtypes))

     Name  Age  Gender
0   Alice   25  Gender
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Gender
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>

In [25]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

df2=pd.DataFrame([[12,13,14],[21,23,24],[33,36,39],[41,44,48]],columns=['A','B','C'])
df2.index=df2.index*2+1
logging.info(df2)
print(df2)

    A   B   C
1  12  13  14
3  21  23  24
5  33  36  39
7  41  44  48

In [34]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. 
# The function should print the sum to the console.

# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function 
# should calculate and print the sum of the first three values, which is 60.

from functools import reduce

df3=pd.DataFrame([10, 20, 30, 40, 50],columns=['values'])

logging.info(df3)

reduce(lambda x,y:x+y,df3['values'][:3])

60

In [60]:
# Q4. Given Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.

def word_count(df):
    df['Word_Count']=0
    for i in range(len(df['Text'])):
        s=df['Text'][i]
        count=len(s.split(" "))
        df['Word_Count'][i]=count
    return df

df4=pd.DataFrame(['text','hello world','watch a new movie','python is scripting langauge'],columns=['Text'])
df4=word_count(df4)
print(df4)

                           Text  Word_Count
0                          text           1
1                   hello world           2
2             watch a new movie           4
3  python is scripting langauge           4

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33444\255498138.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i]=count
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33444\255498138.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i]=count
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33444\255498138.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i]=count
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33444\255498138.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i]=count

In [67]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

#size funtion return num of cells in dataframe and shape return num of rows and columns in tuple

print(df4.size)
print(df4.shape)

8
(4, 2)

In [ ]:
# Q6. Which function of pandas do we use to read an excel file?

# pd.read_excel() used for read excel file.

In [74]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.
def username(df):
    df['UserName']=""
    for i in range(len(df['email'])):
        s=df['email'][i]
        s1=s.split('@')
        df['UserName'][i]=s1[0]
    return df
df=pd.DataFrame(['yashdholakiya@gmail.com','madhavibhide@gmail.com','kritisenon@gmail.com','kairaadavani@gmail.com'],columns=['email'])
df1=username(df)
df1

                     email       UserName
0  yashdholakiya@gmail.com  yashdholakiya
1   madhavibhide@gmail.com   madhavibhide
2     kritisenon@gmail.com     kritisenon
3   kairaadavani@gmail.com   kairaadavani

In [104]:
# Q8.You have Pandas DataFrame df with columns 'A', 'B', and 'C'. Write Python function that selects
# all rows where value in column 'A' is greater than 5 and value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.

def selected_row(df):
    return df5[(df5['A']>5) & (df5['B']<10)]

l=[['A','B','C'],[3, 5, 1],[ 8, 2, 7],[ 6, 9, 4], [2 ,3 ,5],[ 9, 1, 2]]
df5=pd.DataFrame(l[1:],columns=l[0])
df_new=selected_row(df5)
logging.info(df_new)
df_new

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [113]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate mean,
# median, and standard deviation of the values in the 'Values' column.

df6=pd.DataFrame([8,54,5,66,52,45,5,2,52],columns=['Vales'])
logging.info(df6.mean())
print(df6.mean())
logging.info(df6.median())
print(df6.median())
logging.error(df6.std())
print(df6.std())

Vales    32.111111
dtype: float64
Vales    45.0
dtype: float64
Vales    26.322255
dtype: float64

In [ ]:
# Q10. Given Pandas DataFrame df with a column 'Sales' and a column 'Date', write Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for past 7 days
# for each row in DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.

In [122]:
# Q11. You have Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.

def addWeek(df):
    df['Weekday']=''
    week=['sunday','monday','tuesday','wednesday','thursday', 'Friday', 'Saturday']
    for i in range(len(df['Date'])):
        df['Weekday'][i]=week[i%7]
    return df

Dt=pd.DataFrame(['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05'],columns=['Date'])
dt=addWeek(Dt)
dt

         Date    Weekday
0  2023-01-01     sunday
1  2023-01-02     monday
2  2023-01-03    tuesday
3  2023-01-04  wednesday
4  2023-01-05   thursday

In [124]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_rows = df.loc[mask]
    return selected_rows

Dt=pd.DataFrame(['2023-05-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05'],columns=['Date'])
select_rows_between_dates(Dt)

        Date
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

In [ ]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that 
# needs to be imported?

# pandas library is first and foremost necessary library that 
# needs to be imported.