In [4]:
import logging
import pandas as pd
logging.basicConfig(filename='week8.log',level=logging.DEBUG, format='%(asctime)s %(name)s %(levelname)s %(message)s')

In [14]:
# Q1. Create abstractproperty Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42.
# Then, print the series.
try:
    df=pd.DataFrame([4, 8, 15, 16, 23,42])
except Exception as e:
    logging.error(e)
logging.info(type(df))
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on
# variable print it.

l2=['yash','ce',7,8.56,'ml','ai',1+9j,8520,753,0]
df2=pd.Series(l2)
logging.info(type(df2))
print(df2)

0      yash
1        ce
2         7
3      8.56
4        ml
5        ai
6    (1+9j)
7      8520
8       753
9         0
dtype: object

In [19]:
# Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.

arr=[['Name','Age','Gender'],['Alice',25,'Gender'],['Bob',30,'Male'],['Claire',27,'Female']]

pd.DataFrame(arr)

        0    1       2
0    Name  Age  Gender
1   Alice   25  Gender
2     Bob   30    Male
3  Claire   27  Female

In [26]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example

# Dataframe is way to represent data in tabular structure.
# dataframe have more than 0 column but series has only 1 column.

arr=[['Name','Age','Gender'],['Alice',25,'Gender'],['Bob',30,'Male'],['Claire',27,'Female']]

print(type(pd.DataFrame(arr)))
print(pd.DataFrame(arr))
print()

print(type(pd.Series(arr)))
print(pd.Series(arr))

<class 'pandas.core.frame.DataFrame'>
        0    1       2
0    Name  Age  Gender
1   Alice   25  Gender
2     Bob   30    Male
3  Claire   27  Female

<class 'pandas.core.series.Series'>
0     [Name, Age, Gender]
1     [Alice, 25, Gender]
2         [Bob, 30, Male]
3    [Claire, 27, Female]
dtype: object

In [33]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

rename,count,sort_values,loc

# Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.

arr=[['Name','Age','Gender'],['Alice',25,'Gender'],['Bob','Male'],['Claire',27,'Female']]

df1=pd.DataFrame(arr)
df1.dropna()
# df1.describe()

        0    1       2
0    Name  Age  Gender
1   Alice   25  Gender
3  Claire   27  Female

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#In the pandas library, both Series and DataFrame are mutable, while Panel objects are deprecated as of pandas version 0.20.0 and are no longer recommended for use. The recommended way to handle 3-dimensional data is to use a multi-index DataFrame instead.

In [34]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

name_series = pd.Series(['John', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Combining Series into a DataFrame
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris