Q1. What is a database? Differentiate between SQL and NoSQL databases.

database is an organized collection of structured information, or data, typically stored electronically 
in a computer system. A database is usually controlled by a database management system (DBMS). 

SQL databases:
SQL is  relational database management system.Because it’s designed to process millions of queries and thousands of transactions, MySQL is a popular choice for ecommerce businesses that need to manage multiple money transfers. On-demand flexibility is the primary feature of MySQL.

NoSQL databases:
A NoSQL, or nonrelational database, allows unstructured and semistructured data to be stored and manipulated (in contrast to a relational database, which defines how all data inserted into the database must be composed). NoSQL databases grew popular as web applications became more common and more complex.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language t can be used to define the database schema. It is used to create and modify 
the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, 
and delete database structures but not data.

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

 DROP: This command is used to delete objects from the database.

 ALTER: This is used to alter the structure of the database.

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for  the records are removed.

In [18]:
import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root'
)
mycursor=mydb.cursor()
# CREATE, DROP, ALTER, and TRUNCATE
mycursor.execute("CREATE DATABASE assign")
mycursor.execute("CREATE  TABLE IF NOT EXISTS assign.test1(c1 INT PRIMARY KEY ,c2 INT,c3 VARCHAR(20))")
mycursor.execute("alter TABLE assign.test1 MODIFY c1 int AUTO_INCREMENT")

mycursor.execute("INSERT INTO assign.test1 VALUES(5,2,'yash')")
mycursor.execute("SELECT * FROM assign.test1")
myresult=mycursor.fetchall()
for i in myresult:
    print(i)
mycursor.execute("TRUNCATE TABLE assign.test1")
mycursor.execute("SELECT * FROM assign.test1")
myresult=mycursor.fetchall()
for i in myresult:
    print(i)
mycursor.execute("DROP TABLE assign.test1;")
mycursor.execute("DROP DATABASE assign")
mydb.close()

(5, 2, 'yash')

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML or Data Manipulation Language deal with the manipulation of data present in the database.It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

INSERT: It is used to insert data into a table.

UPDATE: It is used to update existing data within a table.

DELETE: It is used to delete records from a database table.

In [25]:
import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root'
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS assign.test1(c1 INT, c2 VARCHAR(20),C3 FLOAT)")
mycursor.execute("INSERT INTO assign.test1 VALUES (1,'yash',8.56)")
mycursor.execute("INSERT INTO assign.test1 VALUES (2,'deco',9.56)")
mycursor.execute("INSERT INTO assign.test1 VALUES (3,'ashok',8.26)")
mycursor.execute("UPDATE assign.test1 SET c3=8.58 WHERE c1=1")
mycursor.execute("DELETE FROM assign.test1 WHERE c1=2")
mycursor.execute("SELECT * FROM assign.test1")
myresult=mycursor.fetchall()
for i in myresult:
    print(i)
mydb.close()

(1, 'yash', 8.58)
(3, 'ashok', 8.26)

In [31]:
# Q4. What is DQL? Explain SELECT with an example.
# DQL statements are used for performing queries on the data within schema objects.
#  It includes the SELECT statement.
# SELECT: It is used to retrieve data from the database.
import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root'
)

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS assign.test1(c1 INT, c2 VARCHAR(20),C3 FLOAT)")
mycursor.execute("INSERT INTO assign.test1 VALUES (1,'yash',8.56)")
mycursor.execute("INSERT INTO assign.test1 VALUES (2,'deco',9.56)")
mycursor.execute("INSERT INTO assign.test1 VALUES (3,'ashok',8.26)")
mycursor.execute("SELECT * FROM assign.test1")
myresult=mycursor.fetchall()
for i in myresult:
    print(i)
mydb.close()

(1, 'yash', 8.56)
(2, 'deco', 9.56)
(3, 'ashok', 8.26)

Q5. Explain Primary Key and Foreign Key.

PRIMARY KEY constraint uniquely identifies each record in a table. primary key is selected candidate key. candidate key is key which have not any subset is key.

FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.

In [36]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# cursor method return cursor for MySQLCursor of mysql-connector is used to 
# execute statements to communicate with the MySQL database.
# execute mthod used to execute statement in data base

import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root'
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS assign.test1(c1 INT, c2 VARCHAR(20),C3 FLOAT)")
mycursor.execute("INSERT INTO assign.test1 VALUES (1,'yash',8.56)")
mycursor.execute("INSERT INTO assign.test1 VALUES (2,'deco',9.56)")
mycursor.execute("SELECT * FROM assign.test1")
myresult=mycursor.fetchall()
for i in myresult:
    print(i)
mydb.close()

(1, 'yash', 8.56)
(2, 'deco', 9.56)

Q7. Give the order of execution of SQL clauses in an SQL query.

1. The FROM and JOIN clauses merge the Products and Orders tables to obtain the total data of interest.

2. The WHERE clause removes records where pens aren’t purchased.

3. The GROUP BY clause groups together records by name.

4. The HAVING clause removes groups that spend more than 2000 on pens.

5. The SELECT clause derives the buyers and their corresponding amount spent on pens.

6. The ORDER BY clause sorts the results based on the total amount spent on pens in descending order.

7. The LIMIT and OFFSET clauses skip the first row and keep only the next record, which contains the person that spent the second most on pens.